$main-blue: #005ED0;
$main-orange: #ff6100;
$main-red: #ff0000;
$main-black: #333333;
$main-grey: #5f5f5f;
$main-light: #e3e7f2;
$main-white: #ffffff;

*, h1, h2, h3, h4, p, ul, li, form {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "PT Sans Regular", sans-serif;
}

.text {
  &-error {
    color: $main-red;
  }

  &-black {
    color: $main-black;
  }

  &-white {
    color: $main-white;
  }
}

.bg {
  &-blue {
    background-color: $main-blue;
  }

  &-red {
    background-color: $main-red;
  }

  &-white {
    background-color: $main-white;
  }

  &-orange {
    background-color: $main-orange;
  }
}

.op-1 {
  opacity: 1;
}

.header {
  background-color: $main-blue;
  height: 772px;
  width: auto;
  position: relative;

  &__bkg-image {
    position: absolute;
  }


  &__container {
    margin: 0 auto;
    width: 1180px;
    position: relative;
    z-index: 20;

    @media (max-width: 1180px) {
      width: 100%;
      padding: 0 20px;
    }

    .header__nav {
      padding-top: 34px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 319.98px) {
        padding-top: 17px;
      }

      &__logo-block {

        .logo-block {
          &__logo {
            height: 21px;
            width: 25px;
          }

          &__title {
            text-transform: uppercase;
            margin-left: 6.5px;
          }
        }
      }

      &__menu-block {
        font-family: "PT Sans Regular", sans-serif;
        display: flex;
        list-style: none;
        color: $main-white;
        align-items: baseline;

        &.deactivated {
          opacity: .5;
        }

        .menu__item {
          margin-left: 40px;
          @media (max-width: 319.98px) {
            margin-left: 0;
          }

          &:hover {
            text-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
            cursor: pointer;
          }
        }
      }
    }

    .header__content {
      position: absolute;
      top: 70px;
      height: 632px;
      align-items: center;
      @media (max-width: 1023.98px) {
        width: 100%;
      }

      &__tagline {
        padding-right: 80px;
        @media (max-width: 1023.98px) {
          padding-right: 40px;
        }
        .tagline__title {
          color: $main-white;
          font-style: normal;
          font-weight: bold;
          font-size: 48px;
          line-height: 62px;
        }

        .tagline__text {
          color: $main-white;
          opacity: .7;
          line-height: 28px;
        }

        .tagline__form {
          &__input {
            font-size: 15px;
            line-height: 19px;
            padding: 14px 20px;
            width: 280px;
            border-radius: 8px 0 0 8px;
            border: 1px $main-blue solid;
            border-right: none;
            &:focus {
              outline: none;
              border: 1px $main-orange solid;
              border-right: none;
            }
            &::placeholder {
              color: $main-grey;
              opacity: .5;
            }
          }

          &__btn {
            font-weight: bold;
            font-size: 15px;
            line-height: 19px;
            padding: 14px 20px;
            width: max-content;
            border-radius: 0 8px 8px 0;
            background-color: $main-orange;
            color: $main-white;
            border: 1px $main-orange solid;
            &:hover {
              box-shadow: inset 0 0 13px rgba(255, 255, 255, 0.3);
            }
          }
        }

      }

      &__demo {

      }
    }
  }
}

.login-btn {
  border: 1px solid rgba(250, 255, 255, .4);
  padding: 3px 27px;
  color: $main-white;
  background-color: $main-blue;
  border-radius: 4px;

  &:hover {
    cursor: pointer;
    border: 1px solid rgba(250, 255, 255, 1);
  }
}
