<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MasterSystem</title>
</head>
<body>
<header>
  <div class="header">
    <img class="header__bkg-image" src="./src/assets/images/jungle.png" alt="jungle-background">
    <div class="header__logo"></div>
    <button class="btn btn-danger">sdf</button>
  </div>
</header>
</body>
</html>
