<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MasterSystem</title>
</head>
<body>
<header>
  <div class="header">
    <img class="header__bkg-image" src="./src/assets/images/jungle.png" alt="jungle-background">
    <div class="header__container">
      <div class="header__nav">
        <div class="header__nav__logo-block">
          <img class="logo-block__logo" src="src/assets/svg/logo.svg" alt="Logo MasterSystem">
          <span class="logo-block__title text-white">Mastersystem</span>
        </div>

        <nav>
          <ul class="header__nav__menu-block">
            <li class="menu__item d-flex d-md-none"><img src="src/assets/svg/nav-menu-icon.svg" alt="Menu"></li>
            <li class="menu__item d-none d-md-flex">Кейсы</li>
            <li class="menu__item d-none d-md-flex">Особенности</li>
            <li class="menu__item d-none d-md-flex">Контакты</li>
            <li class="menu__item d-none d-sm-flex">
              <button class="login-btn">Вход</button>
            </li>
          </ul>
        </nav>
      </div>

      <div class="header__content row">
        <div class="header__content__tagline text-center text-lg-left col col-lg-5 px-0 pl-lg-1">
          <h1 class="tagline__title">Mastersystem<br/>создавай и управляй</h1>
          <p class="tagline__text mt-4">Mastersystem - это профессиональная система управления веб-проектами,
            универсальный
            программный продукт для создания, поддержки и успешного развития</p>
          <form class="d-flex justify-content-center justify-content-lg-start mt-4 mt-sm-5">
            <div class="row mx-0 px-0">
              <label for="input"></label>
              <input id="input" class="tagline__form__input col-7" type="text" placeholder="Введите свой E-mail"/>
              <button class="tagline__form__btn col-5" type="submit">Попробуйте бесплатно</button>
            </div>
          </form>
          <p class="tagline__sign-in text-white">Уже используете CRM? <a href="#" class="redirect-link">Войти</a></p>
        </div>
        <div class="d-none d-lg-flex col-lg-1"></div>

        <div class="header__content__demo col-6 d-none d-lg-flex">
          <img class="img-fluid" src="src/assets/images/ui-examples.png" alt="ui examples">
        </div>
      </div>

    </div>
  </div>
</header>

<section>
  <div class="idea-container">
    <div class="row">
      <div class="idea-container__notification col-4">
        <h3 class="notification__title">Идейные соображения</h3>
        <p class="notification__text mt-4">Решения, которые принимала наша команда, основаны на потребностях и желаниях
          конечного пользователя. Благодаря им мы создали уникальную систему позволяющею эффективно управлять вашим
          бизнесом.</p>
      </div>

      <div class="idea-container__options col-8">

        <div class="row">
          <div class="idea-item col-4">
            <img src="src/assets/svg/prototyping.svg" alt="Глубокая проработка">
            <p class="idea-item__title">Глубокая проработка</p>
            <p class="idea-item__text">Мы тщательно продумали UX и UI</p>
          </div>
          <div class="idea-item col-4">
            <img src="src/assets/svg/prototyping.svg" alt="Глубокая проработка">
            <p class="idea-item__title">Глубокая проработка</p>
            <p class="idea-item__text">Мы тщательно продумали UX и UI</p>
          </div>
          <div class="idea-item col-4">
            <img src="src/assets/svg/prototyping.svg" alt="Глубокая проработка">
            <p class="idea-item__title">Глубокая проработка</p>
            <p class="idea-item__text">Мы тщательно продумали UX и UI</p>
          </div>


          <div class="idea-item col-4">
            <img src="src/assets/svg/prototyping.svg" alt="Глубокая проработка">
            <p class="idea-item__title">Глубокая проработка</p>
            <p class="idea-item__text">Мы тщательно продумали UX и UI</p>
          </div>
          <div class="idea-item col-4">
            <img src="src/assets/svg/prototyping.svg" alt="Глубокая проработка">
            <p class="idea-item__title">Глубокая проработка</p>
            <p class="idea-item__text">Мы тщательно продумали UX и UI</p>
          </div>
          <div class="idea-item col-4">
            <img src="src/assets/svg/prototyping.svg" alt="Глубокая проработка">
            <p class="idea-item__title">Глубокая проработка</p>
            <p class="idea-item__text">Мы тщательно продумали UX и UI</p>
          </div>


          <div class="idea-item col-4">
            <img src="src/assets/svg/prototyping.svg" alt="Глубокая проработка">
            <p class="idea-item__title">Глубокая проработка</p>
            <p class="idea-item__text">Мы тщательно продумали UX и UI</p>
          </div>
          <div class="idea-item col-4">
            <img src="src/assets/svg/prototyping.svg" alt="Глубокая проработка">
            <p class="idea-item__title">Глубокая проработка</p>
            <p class="idea-item__text">Мы тщательно продумали UX и UI</p>
          </div>
          <div class="idea-item col-4">
            <img src="src/assets/svg/prototyping.svg" alt="Глубокая проработка">
            <p class="idea-item__title">Глубокая проработка</p>
            <p class="idea-item__text">Мы тщательно продумали UX и UI</p>
          </div>


        </div>

      </div>
    </div>
    <div class="col-10">
      <div class="row">
        <div class="col-4 idea-item"></div>
        <div class="col-4 idea-item"></div>
        <div class="col-4 idea-item"></div>
      </div>
    </div>
    <div class="col-10">
      <div class="row">
        <div class="col-4 idea-item"></div>
        <div class="col-4 idea-item"></div>
        <div class="col-4 idea-item"></div>
      </div>
    </div>
  </div>

</section>
</body>
</html>
